/* FOR MOBILE  */
:root {
    --breakpoint-s: 640px;
    --breakpoint-m: 960px;
    --breakpoint-l: 1200px;
    --breakpoint-xl: 1600px;
}
.header-navigations{
  display: none;
}
.header-menu-bar{
  flex: 1;
}
.home-top-section-invisible-container{
  display: none;
}
/* .story-section  > *:nth-child(n + 2):nth-child(-n + 6) {
  display: none;
} */
/* .story-section > *:nth-child(n + 3):nth-child(-n + 7) {
  display: none;
} */

@media  (min-width: 630px) and (max-width: 950px){
  .story-section{
    grid-template-columns: repeat(3,minmax(184px, 290px));
  }
  
}



/* for desktop */
 
@media  (min-width: 960px) {
  
  .header-logo img{
    width: 119px;
    height: 38.91px;
    /* padding: 0 40px 0 40px; */
  }
    .header-navigations{
      display: flex; 
      flex: 1;
      align-items: center;
      gap: 4px;
      
    }
    .header__nav{
      display: flex;
      align-items: center;
      padding: 0 15px 0 15px;
    }
    .header-menu-bar{
      display: none;
    }
    .header-widgets{
      gap: 10px;
    }
    .header-widget{
      border: 0px;
    }
    .topnav .search-container {
      float: none;
    }
    .header-navigations a, .header-navigations input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .header-navigations input[type=text] {
      border: 1px solid #ccc;  
    }
    .home-top-section-invisible-container{
      display: block;
      margin-top: 40px;
  
    }
    .home-top-section{
      display: none;
    }
    .header-logo img{
      padding: 0px;
    }
    /* .header{
      margin: 20px 0px;
    } */
    .home-top-section-invisible-container{
      display:block;
    }
    .story-section{
      grid-template-columns: repeat(6,minmax(135px, 157px));
    }


   
  }


